.file-selection-card {
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
    }
}